/Demo/debug_project/MDK-ARM/debug
/Book/Lap_trinh_nhung_va_iot.aux
/Book/Lap_trinh_nhung_va_iot.fdb_latexmk
/Book/Lap_trinh_nhung_va_iot.fls
/Book/Lap_trinh_nhung_va_iot.log
/Book/Lap_trinh_nhung_va_iot.out
/Book/Lap_trinh_nhung_va_iot.synctex.gz
/Book/Lap_trinh_nhung_va_iot.toc
/Book/Embedded_programming_and_iot.fls
/Book/Embedded_programming_and_iot.log
/Book/Embedded_programming_and_iot.out
/Book/Embedded_programming_and_iot.aux
/Book/Embedded_programming_and_iot.fdb_latexmk
/Book/Embedded_programming_and_iot.synctex.gz
/Book/Embedded_programming_and_iot.toc
